
.dascy__feedbacks-heading{
    display: flex;
    justify-content: center;
    margin: 4rem;
}
.dascy__feedbacks-heading h1 {
    color: var(--color-text);
        text-align: center;
        font-family: var(--font-family);
        font-size: 40px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.8px;
}

.dascy__feedbacks-container {
    display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 30%;
        gap: 2rem;
        height: 20rem;
        overflow-x: auto;   
        overflow-y: scroll;
        scrollbar-width: none;
    
}

.dascy__feedbacks-continue{
    margin-top: 2rem;
}

.dascy__feedbacks-continue img:first-of-type{
    position: absolute;
    left: 48%;
    rotate:  -180deg;
}
.dascy__feedbacks-continue img:last-of-type{
    position: absolute;
    left: 52%;
}


@media screen and (max-width:1050px) {
.dascy__feedbacks-container {
        grid-auto-columns: 50%;
        gap: 1rem;
        height: 20rem;
    }
        .dascy__feedbacks-continue img:last-of-type {
            position: absolute;
            left: 54%;
        }
}

@media screen and (max-width:700px) {
    
    .dascy__feedbacks-heading h1 {
            color: var(--color-text);
            text-align: cneter;
            font-family: var(--font-family);
            font-size: 28px;
            font-weight: bold;
            margin-top: -6rem;
        
        }
        .dascy__feedbacks-container {
            grid-auto-columns: 100%;
            gap: 1rem;
            height: 19rem;
        }
        .dascy__feedbacks-continue img:first-of-type {
            left: 41%;

        }

        .dascy__feedbacks-continue img:last-of-type {
            left: 53%;
        }


}