.dascy__firstPage {
  background-color: var(--color-text2);
  display: flex;
  align-items: center;
  width: fit-content;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.dascy__firstPage-content {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  
}
.dascy__firstPage-content-text {
  display: flex;
  flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.dascy__firstPage-content h1 {
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 10px;
  font-family: var(--font-family);
}

.dascy__firstPage-content h2 {
  font-weight: smaller;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: var(--font-family);
}

.dascy__firstPage-images__robot-img {
  position: fixed;
  top: 40%;
  right: 0;
  transform: translate(0, -50%);
}

.dascy__firstPage-images__satellite-img {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dascy__firstPage-images__clouds-img {
  position: fixed;
  top: -100px;
  left: -120px;
}

.dascy__firstPage-images__city-img {
  opacity: 0; /* L'image est initialement invisible */
  animation: fadeInFromBottom 2s forwards; /* Animation pour faire apparaître l'image */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.dascy__firstPage-content__startbuttom-img {
  
  position: absolute;
  left: 440px;
  top: 100px;
  cursor: pointer;
}
.dascy__firstPage-content__startbuttom-img img{
width: 80px;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0; 
    transform: translateY(
      100%
    ); 
  }
  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}
