* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: karla;
}
.dascy__idTwo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0D0FF ;
}
.dascy__idTwo-container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.dascy__idTwo-card{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    background-color: #F9F8FD;
}
.dascy__idTwo-card > .dascy__idTwo-row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.dascy__idTwo-card > .dascy__idTwo-row > .dascy__idTwo-icon{
    background-color: #110218;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.icon-description{
  display: flex;
  flex-direction: row;
}
.icon{
  background-color: #110218;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: -64px 15px 15px 15px ;
}
.icon2{
  background-color: #110218;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: -54px 15px 15px 15px ;
}
.icon3{
  background-color: #110218;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 25px 15px 15px 15px ;
}
.icon5{
  background-color: #110218;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: -59px 15px 15px 15px ;
}
.icon6{
  background-color: #110218;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: -62px 15px 15px 15px ;
}
.dascy__idTwo-card > .dascy__idTwo-row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.description{
  margin-top: -60px;
  margin-bottom: 0px;
  margin-left: 5px;
  transform: translateY(60px);
  transition-delay: .3s;
  transition: all .3s ease;
}
#dscrption{
  margin-top: -50px;
}
#dscrption3 {
  margin-top: 28px;
}
.description p{
    color: #b0b0ba;
    padding-top: 5px;
}
.description h4{
    text-transform: uppercase;
    color: #223;
}
.dascy__idTwo-container input{
    display: none;
}
input:checked + label{
    width: 600px;
}
input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.dascy__idTwo-title{
  color: #000;
  font-family: karla;
  margin-right: -100.5px;
  margin-left: 45px;
  margin-top: 30px;
}
.dascy__idTwo-title4{
  color: #000;
  font-family: karla;
  margin-right: -100.5px;
  margin-left: 45px;
  margin-top: 30px;
}
.tension{
  color: #000;
  font-family: karla;
  margin-right: -100px;
  margin-left: 44px;
  margin-top: -354px;
}
#aar1-x{
  margin-left: 90px;
  margin-bottom: 90px;
}
#arr1-y{
  margin-left: 110px;
  margin-top: -300px;
  margin-bottom: 0px;
  height: 250px; 
}
.dash-line{
  height: 230px; 
  margin-left: -290px;
  margin-top: -300px;
  margin-bottom: -200px;
}
.dash-line1 {
  height: 230px; 
  margin-left: 200px;
  margin-bottom: -200px;
}
.dash-line2 {
  height: 230px; 
  margin-left: 245px;
  margin-bottom: -200px;
}
.dash-line3 {
  height: 230px; 
  margin-left: 292px;
  margin-bottom: -200px;
}
.dash-line4 {
  height: 230px;
  margin-left: 340px;
  margin-bottom: -200px;
}
.dash-line5 {
  height: 230px; 
  margin-left: 389px;
  margin-bottom: -250px;
}
.dash-line6 {
  height: 230px;
  margin-left: -3038px;
  margin-bottom: -30px;
}
.dashed-lines2{
  margin-bottom: 110px;
}
.nmbrs{
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-left: 128px;
  margin-bottom: 80px;
  margin-top: 15px;
}
.nmbrs p{
  font-family: karla;
  font-size: 17px;
  margin-right: 38px;
  color: black;
}
.temps{
  margin-left: 10px;
  margin-top: -10px;
}
.temps2{
  margin-left: 10px;
  margin-top: -80px;
}
.temps4 {
  margin-left: 10px;
  margin-top: -10px;
}
#LN{
  animation: stretchline 1s linear forwards; 
  margin-top: -41px;
  margin-left: 110px;
}

@keyframes stretchline {
  0% {
    width: 0;
  }
  50% {
    width: 4.1%; 
  }
  100% {
    width: 8.2%;
  }
}
#LN1{
  margin-left: 155px;
  margin-bottom: 136px;
  animation: stretchline1 1s linear forwards; 
  animation-delay: 1s;
}

@keyframes stretchline1 {
  0% {
    height: 0;
  }
  50% {
    height: 3%; 
  }
  100% {
    height: 5.9%;
  }
}

#LN2{
  animation: stretchline2 1s linear forwards; 
  margin-left: 155px;
  margin-top: -36px;
  animation-delay: 2s;
}

@keyframes stretchline2 {
  0% {
    width: 0;
  }
  50% {
    width: 8.25%; 
  }
  100% {
    width: 16.5%;
  }
}
#LN3{
  height: 0px;
}
#LN4{
  margin-top: 434px;
  margin-left: 238px;
  margin-bottom: -300px;
  animation: stretchline4 1s linear forwards; 
  animation-delay: 3s;
}
  
  @keyframes stretchline4 {
    0% {
      height: 0;
    }
    50% {
      height: 3%; 
    }
    100% {
      height: 5.9%;
    }
  }
#LN5{
  animation: stretchline5 1s linear forwards; 
  margin-left: 245px;
  margin-top: 34px;
  animation-delay: 4s;
}

@keyframes stretchline5 {
  0% {
    width: 0;
  }
  50% {
    width: 8.8%; 
  }
  100% {
    width: 17.59%;
  }
}
#LN6{
  height: 0px;
}
#LN7{
  margin-left: 333px;
  margin-bottom: 136px;
  animation: stretchline7 1s linear forwards; 
  animation-delay: 5s;
}

@keyframes stretchline7 {
  0% {
    height: 0;
  }
  50% {
    height: 3%; 
  }
  100% {
    height: 6.35%;
  }
}
#LN8{
  animation: stretchline8 1s linear forwards; 
  margin-left: 340px;
  margin-top: -40px;
  animation-delay: 6s;
}

@keyframes stretchline8 {
  0% {
    width: 0;
  }
  50% {
    width: 4.5%;  
  }
  100% {
    width: 9%;
  }
}
#LN9{
  margin-top: 430px;
  margin-left: 382px;
  animation: stretchline9 1s linear forwards;  
  animation-delay: 7s;
}

@keyframes stretchline9 {
  0% {
    height: 0;
  }
  50% {
    height: 3%; 
  }
  100% {
    height: 6.4%;
  }
}
#LN10{
  animation: stretchline10 1s linear forwards; 
  margin-left: 390px;
  margin-top: 35px;
  animation-delay: 8s;
}

@keyframes stretchline10 {
  0% {
    width: 0;
  }
  50% {
    width: 4.2%; 
  }
  100% {
    width: 8.4%;
  }
}
/* Hide lines by default */
.lines, .dashed-lines, .arrows, .dascy__idTwo-title, .temps {
  display: none;
}

/* Show lines when the radio button is checked */
#c1:checked ~ .dascy__idTwo-card .lines,
#c1:checked ~ .dascy__idTwo-card .dashed-lines,
#c1:checked ~ .dascy__idTwo-card .arrows,
#c1:checked ~ .dascy__idTwo-card .dascy__idTwo-title,
#c1:checked ~ .dascy__idTwo-card .temps {
  display: block;
}

.lines2, .dashed-lines2, .arrows2 {
  display: none;
}

/* Show lines when the radio button is checked */
#c2:checked ~ .dascy__idTwo-card .lines2,
#c2:checked ~ .dascy__idTwo-card .dashed-lines2,
#c2:checked ~ .dascy__idTwo-card .arrows2 {
  display: block;
}
#arr2-x{
  margin-left: 90px;
  margin-bottom: 154px;
  margin-top: -200px;
}
#arr2-y{
  margin-left: 110px;
  margin-top: -300px;
  margin-bottom: -420px;
  height: 260px; 
}

#dash-line{
  height: 250px; 
  margin-top: 170px;
}

#nbr{
  margin-top: 90px;
}
.graph2_Line-1{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchGLine 1s linear forwards; 
    margin-top: -225.5px;
    margin-left: 110px;
  }
  
  @keyframes stretchGLine {
    0% {
      width: 0;
    }
    50% {
      width: 4.05%; 
    }
    100% {
      width: 8.1%;
    }
}
.graph2_Line-2{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchGLine1 1s linear forwards; 
    animation-delay: 1s;
    margin-left: 155px;
    margin-bottom: 221.5px;
  }
  
 @keyframes stretchGLine1 {
    0% {
      height: 0;
    }
    50% {
      height: 3%; 
    }
    100% {
      height: 6.2%;
    }
}
.graph2_Line-3{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchGLine2 1s linear forwards; 
    animation-delay: 2s;
    margin-left: 155px;
    margin-top: -38px;
  }
  
  @keyframes stretchGLine2 {
    0% {
      width: 0;
    }
    50% {
      width: 4.6%; 
    }
    100% {
      width: 8.2%;
    }
}
.graph2_Line-4{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 68px; 
    animation: stretchGLine4 1s linear forwards; 
    animation-delay: 3s;
    margin-top: 346.9px;
    margin-left: 292px;
    margin-bottom: -300px;
  }
  
  @keyframes stretchGLine4 {
    0% {
      height: 0;
    }
    50% {
      height: 6.1%; 
    }
    100% {
      height: 12.2%;
    }
}
.graph2_Line-5{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchGLine5 1s linear forwards; 
    animation-delay: 4s;
    margin-left: 200px;
    margin-bottom: -40px;
    margin-top: 70px;
  }
  
  @keyframes stretchGLine5 {
    0% {
      width: 0;
    }
    50% {
      width: 4.15%; 
    }
    100% {
      width: 8.3%;
    }
}
.graph2_Line-6{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68px; 
    animation: stretchGLine7 1s linear forwards; 
    animation-delay: 5s;
    margin-left: 337px;
    margin-bottom: 185.5px;
  }
  
  @keyframes stretchGLine7 {
    0% {
      height: 0;
    }
    50% {
      height: 3%; 
    }
    100% {
      height: 6%;
    }
}
.graph2_Line-7{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchGLine8 1s linear forwards; 
    animation-delay: 5s;
    margin-left: 245px;
    margin-bottom: 185.5px;
  }
  
 @keyframes stretchGLine8 {
    0% {
      height: 0;
    }
    50% {
      height: 3%; 
    }
    100% {
      height: 6.2%;
    }
  
}
.graph2_Line-8{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchGLine7 1s linear forwards; 
    animation-delay: 6s;
    margin-left: 245px;
    margin-top: 2px;
  }
  
  @keyframes stretchGLine7 {
    0% {
      width: 0;
    }
    50% {
      width: 8.75%; 
    }
    100% {
      width: 17.5%;
    }
}
.graph2_Line-9{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchGLine9 1s linear forwards; 
    animation-delay: 7s;
    margin-left: 340px;
    margin-bottom: 221.5px;
  }
  
 @keyframes stretchGLine9 {
    0% {
      height: 0;
    }
    50% {
      height: 3.1%; 
    }
    100% {
      height: 6.2%;
    }
}
.graph2_Line-10{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchGLine10 1s linear forwards; 
    animation-delay: 8s;
    margin-left: 340px;
    margin-top: -38px;
  }
  
  @keyframes stretchGLine10 {
    0% {
      width: 0;
    }
    50% {
      width: 4.5%; 
    }
    100% {
      width: 9%;
    } 
}
.graph2_Line-11{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 68px; 
    animation: stretchGLine11 1s linear forwards; 
    animation-delay: 9s;
    margin-top: 346.9px;
    margin-left: 482px;
    margin-bottom: -300px;
  }
  
  @keyframes stretchGLine11 {
    0% {
      height: 0;
    }
    50% {
      height: 3.1%; 
    }
    100% {
      height: 6.2%;
    }
}
.graph2_Line-12{
  width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchGLine12 1s linear forwards; 
    animation-delay: 10s;
    margin-left: 390px;
    margin-top: 34px;
  }
  
  @keyframes stretchGLine12 {
    0% {
      width: 0;
    }
    50% {
      width: 4.6%; 
    }
    100% {
      width: 8.3%;
    }
}
.hover-message {
  position: absolute;
  top: 300px; /* Adjust as needed */
  left: 220px; /* Adjust as needed */
  background-color: #000;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.hover-message4{
  position: absolute;
  top: 250px; /* Adjust as needed */
  left: 310px; /* Adjust as needed */
  background-color: #000;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
#arr3-x{
  margin-left: 90px;
  margin-bottom: 150px;
}
#arr3-y{
  margin-left: 110px;
  margin-top: -300px;
  margin-bottom: 70px;
  height: 250px; 
}
#nbr1{
  margin-top: 55px;
  margin-bottom: 0px;
}
.hover-message2 {
  position: absolute;
  top: 270px; /* Adjust as needed */
  left: 410px; /* Adjust as needed */
  background-color: #000;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.graph3_line-1{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG3Line 1s linear forwards; 
    margin-top: -78px;
    margin-left: 110px;
  }
  
  @keyframes stretchG3Line {
    0% {
      width: 0;
    }
    50% {
      width: 4.6%; 
    }
    100% {
      width: 8.35%;
    }
}
.graph3_line-2{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchG3Line1 1s linear forwards; 
    animation-delay: 1s;
    margin-left: 155px;
    margin-bottom: 185px;
  }
  
 @keyframes stretchG3Line1 {
    0% {
      height: 0;
    }
    50% {
      height: 6.2%; 
    }
    100% {
      height: 12.4%;
    }
}
.graph3_line-3{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG3Line2 1s linear forwards; 
    animation-delay: 2s;
    margin-left: 155px;
    margin-top: -78px;
  }
  
  @keyframes stretchG3Line2 {
    0% {
      width: 0;
    }
    50% {
      width: 9.2%; 
    }
    100% {
      width: 16.4%;
    }
}
.graph3_line-4{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 68px; 
    animation: stretchG3Line4 1s linear forwards; 
    animation-delay: 3s;
    margin-top: 344px;
    margin-left: 438px;
    margin-bottom: -300px;
  }
  
  @keyframes stretchG3Line4 {
    0% {
      height: 0;
    }
    50% {
      height: 6.2%; 
    }
    100% {
      height: 12.4%;
    }
}
.graph3_line-5{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG3Line5 1s linear forwards; 
    margin-top: 73px;
    margin-left: 245px;
    animation-delay: 4s;
  }
  
  @keyframes stretchG3Line5 {
    0% {
      width: 0;
    }
    50% {
      width: 9.75%; 
    }
    100% {
      width: 17.5%;
    }
}
.graph3_line-6{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchG3Line6 1s linear forwards; 
    animation-delay: 5s;
    margin-left: 340px;
    margin-bottom: 185px;
  }
  
 @keyframes stretchG3Line6 {
    0% {
      height: 0;
    }
    50% {
      height: 6.2%; 
    }
    100% {
      height: 12.5%;
    }
}
.graph3_line-7{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG3Line7 1s linear forwards; 
    animation-delay: 6s;
    margin-left: 340px;
    margin-top: -78px;
  }
  
  @keyframes stretchG3Line7 {
    0% {
      width: 0;
    }
    50% {
      width: 4.5%; 
    }
    100% {
      width: 9%;
    }
}
.graph3_line-8{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 68px; 
    animation: stretchG3Line8 1s linear forwards; 
    animation-delay: 7s;
    margin-top: 344px;
    margin-left: 581px;
    margin-bottom: -300px;
  }
  
  @keyframes stretchG3Line8 {
    0% {
      height: 0;
    }
    50% {
      height: 6.2%; 
    }
    100% {
      height: 12.4%;
    }
}
.graph3_line-9{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG3Line9 1s linear forwards; 
    margin-top: 73px;
    margin-left: 388px;
    animation-delay: 8s;
  }
  
  @keyframes stretchG3Line9 {
    0% {
      width: 0;
    }
    50% {
      width: 4.9%; 
    }
    100% {
      width: 8.8%;
    }
}

.lines3, .dashed-lines3, .arrows3 {
  display: none;
}

/* Show lines when the radio button is checked */
#c3:checked ~ .dascy__idTwo-card .lines3,
#c3:checked ~ .dascy__idTwo-card .dashed-lines3,
#c3:checked ~ .dascy__idTwo-card .arrows3 {
  display: block;
}
.hover-message3 {
  position: absolute;
  top: 340px; /* Adjust as needed */
  left: 530px; /* Adjust as needed */
  background-color: #000;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.graph4_line-1{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchG4Line1 1s linear forwards; 
    margin-left: 155px;
    margin-bottom: 147.5px;
  }
  
 @keyframes stretchG4Line1 {
    0% {
      height: 0;
    }
    50% {
      height: 3.2%; 
    }
    100% {
      height: 6.4%;
    }
}
.graph4_line-2{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG4Line2 1s linear forwards; 
    animation-delay: 1s;
    margin-left: 155px;
    margin-top: -82px;
    margin-bottom: 64px;
  }
  
  @keyframes stretchG4Line2 {
    0% {
      width: 0;
    }
    50% {
      width: 1.25%; 
    }
    100% {
      width: 3.5%;
    }
}
.graph4_line-3 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    top: 0;
    margin-left: 174px;
    margin-top: 418px;
    margin-bottom: 0px;
    animation: stretchG4Line3 1s linear forwards; 
    animation-delay: 2s;
  }
  
  .graph4_line-3::after {
    content: '';
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow 0.5s forwards;
    animation-delay: 3s;
  }
@keyframes stretchG4Line3 {
    0% {
        height: 0;
    }
    100% {
        height: 37px; 
    }
}
@keyframes showArrow {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph4_line-4{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchG4Line4 1s linear forwards; 
    animation-delay: 3s;
    margin-left: 199px;
    margin-bottom: 147.5px;
  }
  
 @keyframes stretchG4Line4 {
    0% {
      height: 0;
    }
    50% {
      height: 3.2%; 
    }
    100% {
      height: 6.6%;
    }
}
.graph4_line-5{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG4Line5 1s linear forwards; 
    animation-delay: 4s;
    margin-left: 199px;
    margin-top: -66px;
    margin-bottom: 64px;
  }
  
  @keyframes stretchG4Line5 {
    0% {
      width: 0;
    }
    50% {
      width: 1.25%; 
    }
    100% {
      width: 3.5%;
    }
}
  .graph4_line-6 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    top: 0;
    margin-top: 418px;
    margin-left: 218px;
    margin-bottom: 0px;
    animation: stretchG4Line6 1s linear forwards; 
    animation-delay: 5s;
  }
  
  .graph4_line-6::after {
    content: '';
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow6 0.5s forwards;
    animation-delay: 6s;
  }
@keyframes stretchG4Line6 {
    0% {
        height: 0;
    }
    100% {
        height: 37px; 
    }
}
@keyframes showArrow6 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph4_line-7{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchG4Line7 1s linear forwards; 
    animation-delay: 6s;
    margin-left: 340px;
    margin-bottom: 147.5px;
  }
  
 @keyframes stretchG4Line7 {
    0% {
      height: 0;
    }
    50% {
      height: 3.2%; 
    }
    100% {
      height: 6.4%;
    }
}
.graph4_line-8{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG4Line8 1s linear forwards; 
    animation-delay: 7s;
    margin-left: 340px;
    margin-top: -66px;
    margin-bottom: 64px;
  }
  
  @keyframes stretchG4Line8 {
    0% {
      width: 0;
    }
    50% {
      width: 1.25%; 
    }
    100% {
      width: 3.5%;
    }
}
.graph4_line-9 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    margin-left: 359px;
    top: 0;
    margin-top: 418px;
    margin-bottom: 0px;
    animation: stretchG4Line9 1s linear forwards; 
    animation-delay: 8s;
  }
  
  .graph4_line-9::after {
    content: '';
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow6 0.5s forwards;
    animation-delay: 9s;
  }
@keyframes stretchG4Line9 {
    0% {
        height: 0;
    }
    100% {
        height: 37px; 
    }
}
@keyframes showArrow9 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.lines4, .dashed-lines4, .arrows4, .dascy__idTwo-title4 {
  display: none;
}

/* Show lines when the radio button is checked */
#c4:checked ~ .dascy__idTwo-card .lines4,
#c4:checked ~ .dascy__idTwo-card .dashed-lines4,
#c4:checked ~ .dascy__idTwo-card .arrows4,
#c4:checked ~ .dascy__idTwo-card .dascy__idTwo-title4,
#c4:checked ~ .dascy__idTwo-card .temps{
  display: block;
}

#arr5-x{
  margin-left: 90px;
  margin-bottom: 150px;
}
#arr5-y{
  margin-left: 110px;
  margin-top: -300px;
  margin-bottom: 70px;
  height: 250px; 
}
#nbr5{
  margin-top: -20px;
}
.lines5, .dashed-lines5, .arrows5 {
  display: none;
}

#c5:checked ~ .dascy__idTwo-card .lines5,
#c5:checked ~ .dascy__idTwo-card .dashed-lines5,
#c5:checked ~ .dascy__idTwo-card .arrows5 {
  display: block;
}
/*1 5 9 13 17*/
.graph5_line-2{
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    bottom: 0;
    margin-left: 130px;
    margin-top: 0px;
    margin-bottom: 178px;
    animation: stretchG5Line2 2s linear forwards; 
    animation-delay: 2s;
  }
  
  .graph5_line-2::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow52 0.5s forwards;
    animation-delay: 4s;
  }
@keyframes stretchG5Line2 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow52 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph5_line-3{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG5Line3 2s linear forwards; 
    animation-delay: 4s;
    margin-left: 130px;
    margin-top: -162px;
    margin-bottom: 160px;
  }
  
  @keyframes stretchG5Line3 {
    0% {
      width: 0;
    }
    50% {
      width: 4.65%; 
    }
    100% {
      width: 8.3%;
    }
}
.graph5_line-4{
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    top: 0;
    margin-left: 174px;
    margin-top: 336px;
    margin-bottom: 0px;
    animation: stretchG5Line4 2s linear forwards; 
    animation-delay: 6s;
  }
  
  .graph5_line-4::after {
    content: '';
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow54 0.5s forwards;
    animation-delay: 8s;
  }
@keyframes stretchG5Line4 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow54 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph5_line-6{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    animation: stretchG5Line6 2s linear forwards; 
    animation-delay: 10s;
    margin-left: 199px;
    margin-bottom: 180px;
  }
  
 @keyframes stretchG5Line6 {
    0% {
      height: 0;
    }
    50% {
      height: 7.3%; 
    }
    100% {
      height: 14.6%;
    }
}
.graph5_line-7{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG5Line7 2s linear forwards; 
    animation-delay: 12s;
    margin-left: 199px;
    margin-top: -162px;
    margin-bottom: 160px;
  }
  
  @keyframes stretchG5Line7 {
    0% {
      width: 0;
    }
    50% {
      width: 2%; 
    }
    100% {
      width: 4%;
    }
}
.graph5_line-8{
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    top: 0;
    margin-left: 220px;
    margin-top: 336px;
    margin-bottom: 0px;
    animation: stretchG5Line8 2s linear forwards; 
    animation-delay: 14s;
  }
  
  .graph5_line-8::after {
    content: '';
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow58 0.5s forwards;
    animation-delay: 16s;
  }
@keyframes stretchG5Line8 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow58 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph5_line-10{
   width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    bottom: 0;
    margin-left: 267px;
    margin-top: 0px;
    margin-bottom: 178px;
    animation: stretchG5Line10 2s linear forwards; 
    animation-delay: 18s;
  }
  
  .graph5_line-10::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow510 0.5s forwards;
    animation-delay: 20s;
  }
@keyframes stretchG5Line10 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow510 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph5_line-11{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG5Line11 2s linear forwards; 
    animation-delay: 20s;
    margin-left: 268px;
    margin-top: -162px;
    margin-bottom: 160px;
  }
  
  @keyframes stretchG5Line11 {
    0% {
      width: 0;
    }
    50% {
      width: 2.25%; 
    }
    100% {
      width: 4.5%;
    }
}
.graph5_line-12{
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 68px; 
    animation: stretchG5Line12 2s linear forwards; 
    animation-delay: 22s;
    margin-top: 336px;
    margin-left: 685px;
    margin-bottom: -300px;
  }
  
  @keyframes stretchG5Line12 {
    0% {
      height: 0;
    }
    50% {
      height: 7.3%; 
    }
    100% {
      height: 15.3%;
    }
}
.graph5_line-14{
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    bottom: 0;
    margin-left: 315px;
    margin-top: 0px;
    margin-bottom: 178px;
    animation: stretchG5Line14 2s linear forwards; 
    animation-delay: 26s;
  }
  
  .graph5_line-14::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow514 0.5s forwards;
    animation-delay: 28s;
  }
@keyframes stretchG5Line14 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow514 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph5_line-15{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG5Line15 2s linear forwards; 
    animation-delay: 28s;
    margin-left: 316px;
    margin-top: -162px;
    margin-bottom: 160px;
  }
  
  @keyframes stretchG5Line15 {
    0% {
      width: 0;
    }
    50% {
      width: 4.35%; 
    }
    100% {
      width: 8.7%;
    }
}
.graph5_line-16{
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    top: 0;
    margin-left: 363px;
    margin-top: 336px;
    margin-bottom: 0px;
    animation: stretchG5Line16 2s linear forwards; 
    animation-delay: 30s;
  }
  
  .graph5_line-16::after {
    content: '';
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow516 0.5s forwards;
    animation-delay: 32s;
  }
@keyframes stretchG5Line16 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow516 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph5_line-18{
   width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    bottom: 0;
    margin-left: 411px;
    margin-top: 0px;
    margin-bottom: 178px;
    animation: stretchG5Line18 2s linear forwards; 
    animation-delay: 34s;
  }
  
  .graph5_line-18::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow518 0.5s forwards;
    animation-delay: 36s;
  }
@keyframes stretchG5Line18 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow518 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}



#arr6-x{
  margin-left: 90px;
  margin-bottom: 150px;
}
#arr6-y{
  margin-left: 110px;
  margin-top: -300px;
  margin-bottom: 70px;
  height: 250px; 
}
#nbr6{
  margin-top: -20px;
}
.lines6, .dashed-lines6, .arrows6 {
  display: none;
}

#c6:checked ~ .dascy__idTwo-card .lines6,
#c6:checked ~ .dascy__idTwo-card .dashed-lines6,
#c6:checked ~ .dascy__idTwo-card .arrows6 {
  display: block;
}

#hover-message6{
  position: absolute;
  top: 260px; /* Adjust as needed */
  left: 660px; /* Adjust as needed */
  background-color: #000;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  /* hiiiiiiiiiiii */
}
.graph6_line-1 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    bottom: 0;
    margin-left: 110px;
    margin-top: 0px;
    margin-bottom: 178px;
    animation: stretchG6Line1 1s linear forwards; 
  }
  
  .graph6_line-1::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow1 0.5s forwards;
    animation-delay: 1s;
  }
@keyframes stretchG6Line1 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow1 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph6_line-2{
   width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG6Line2 1s linear forwards; 
    animation-delay: 1s;
    margin-left: 110px;
    margin-top: -162px;
    margin-bottom: 160px;
  }
  
  @keyframes stretchG6Line2 {
    0% {
      width: 0;
    }
    50% {
      width: 6.65%; 
    }
    100% {
      width: 11.9%;
    }
}
.graph6_line-3 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    top: 0;
    margin-left: 174px;
    margin-top: 336px;
    margin-bottom: 0px;
    animation: stretchG6Line3 1s linear forwards; 
    animation-delay: 2s;
  }
  
  .graph6_line-3::after {
    content: '';
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow63 0.5s forwards;
    animation-delay: 3s;
  }
@keyframes stretchG6Line3 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow63 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph6_line-4{
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG6Line4 1s linear forwards; 
    margin-top: -72px;
    margin-bottom: 72px;
    margin-left: 175px;
    animation-delay: 3s;
  }
  
  @keyframes stretchG6Line4 {
    0% {
      width: 0;
    }
    50% {
      width: 4.25%; 
    }
    100% {
      width: 8.2%;
    }
}
.graph6_line-5 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    bottom: 0;
    margin-left: 220px;
    margin-top: 0px;
    margin-bottom: 178px;
    animation: stretchG6Line5 1s linear forwards; 
    animation-delay: 4s;
  }
  
  .graph6_line-5::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow5 0.5s forwards;
    animation-delay: 5s;
  }
@keyframes stretchG6Line5 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow5 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph6_line-6{
   width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG6Line6 1s linear forwards; 
    animation-delay: 5s;
    margin-left: 220px;
    margin-top: -164px;
    margin-bottom: 160px;
  }
  
  @keyframes stretchG6Line6 {
    0% {
      width: 0;
    }
    50% {
      width: 2.65%; 
    }
    100% {
      width: 4.5%;
    }
}
 .graph6_line-7 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    top: 0;
    margin-left: 244px;
    margin-top: 336px;
    margin-bottom: 0px;
    animation: stretchG6Line7 1s linear forwards; 
    animation-delay: 6s;
  }
  
  .graph6_line-7::after {
    content: '';
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow7 0.5s forwards;
    animation-delay: 7s;
  }
@keyframes stretchG6Line7 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow7 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph6_line-8{
     width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG6Line8 1s linear forwards; 
    margin-top: -72px;
    margin-bottom: 72px;
    margin-left: 245px;
    animation-delay: 7s;
  }
  
  @keyframes stretchG6Line8 {
    0% {
      width: 0;
    }
    50% {
      width: 4.85%; 
    }
    100% {
      width: 8.7%;
    }
}
.graph6_line-9 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    bottom: 0;
    margin-left: 292px;
    margin-top: 0px;
    margin-bottom: 178px;
    animation: stretchG6Line9 1s linear forwards; 
    animation-delay: 8s;
  }
  
  .graph6_line-9::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow9 0.5s forwards;
    animation-delay: 9s;
  }
@keyframes stretchG6Line9 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow9 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph6_line-10 {
   width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG6Line10 1s linear forwards; 
    animation-delay: 9s;
    margin-left: 292px;
    margin-top: -164px;
    margin-bottom: 162px;
  }
  
  @keyframes stretchG6Line10 {
    0% {
      width: 0;
    }
    50% {
      width: 6.65%; 
    }
    100% {
      width: 13.2%;
    }
}
.graph6_line-11 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    top: 0;
    margin-left: 364px;
    margin-top: 336px;
    margin-bottom: 0px;
    animation: stretchG6Line11 1s linear forwards; 
    animation-delay: 10s;
  }
  
  .graph6_line-11::after {
    content: '';
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow11 0.5s forwards;
    animation-delay: 11s;
  }
@keyframes stretchG6Line11 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow11 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}
.graph6_line-12{
     width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchG6Line12 1s linear forwards; 
    margin-top: -74px;
    margin-bottom: 74px;
    margin-left: 365px;
    animation-delay: 11s;
  }
  
  @keyframes stretchG6Line12 {
    0% {
      width: 0;
    }
    50% {
      width: 2.25%; 
    }
    100% {
      width: 4.5%;
    }
}
.graph6_line-13 {
    width: 2px; 
    height: 0; 
    background-color: blue; 
    position: absolute;
    bottom: 0;
    margin-left: 389px;
    margin-top: 0px;
    margin-bottom: 178px;
    animation: stretchG6Line13 1s linear forwards; 
    animation-delay: 12s;
  }
  
  .graph6_line-13::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 6px; 
    height: 6px; 
    background-color: blue; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    opacity: 0; 
    animation: showArrow13 0.5s forwards;
    animation-delay: 13s;
  }
@keyframes stretchG6Line13 {
    0% {
        height: 0;
    }
    100% {
        height: 87px; 
    }
}
@keyframes showArrow13 {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}






.arrow-x {
    width: 400px; 
    height: 1px; 
    background-color: black; 
    position: relative;
    margin-left: 130px;
    margin-top: 250px;
    margin-bottom: 60px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .arrow-x::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black; 
    width: 5px; 
    height: 5px; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    right: -5px; 
  }
  
  .arrow-y {
    width: 1px; 
    height: 280px; 
    background-color: black; 
    position: relative;
    margin-left: 160px;
    margin-top: -300px;
  }
  
  .arrow-y::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); 
    width: 5px; 
    height: 5px; 
    background-color: black; 
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }
  .dashed-line {
    width: 2px; 
    height: 250px; 
    margin-left: 155px;
    margin-top: -250px;
    border-left: 1.5px dashed black; 
  }
  .dashed-line1 {
    width: 2px; 
    height: 250px; 
    margin-left: 199px;
    margin-top: -250px;
    border-left: 1.5px dashed black; 
  }
  .dashed-line2 {
    width: 2px; 
    height: 250px; 
    margin-left: 245px;
    margin-top: -250px;
    border-left: 1.5px dashed black; 
  }
  .dashed-line3 {
    width: 2px; 
    height: 250px; 
    margin-left: 292px;
    margin-top: -250px;
    border-left: 1.5px dashed black; 
  }
  .dashed-line4 {
    width: 2px;
    height: 250px;
    margin-left: 340px;
    margin-top: -250px;
    border-left: 1.5px dashed black; 
  }
  .dashed-line5 {
    width: 2px;  
    height: 250px; 
    margin-left: 389px;
    margin-top: -250px;
    border-left: 1.5px dashed black; 
  }
  .dashed-line6 {
    width: 2px; 
    height: 250px;
    margin-left: 435px;
    margin-top: -250px;
    border-left: 1.5px dashed black; 
  }
  .numbers{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-left: 180px;
    margin-top: 20px;
  }
  .numbers p{
    font-family: karla;
    font-size: 17px;
    margin-right: 38px;
  }
  
.line {
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchLine 2s linear forwards; 
    margin-top: -42px;
    margin-left: 162px;
  }
  
  @keyframes stretchLine {
    0% {
      width: 0;
    }
    50% {
      width: 3%; 
    }
    100% {
      width: 6.2%;
    }
  }

  .line1 {
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68;
    margin-left: 205px;
    margin-bottom: -271px;
    animation: stretchLine1 2s linear forwards; 
    animation-delay: 2s;
  }
  
 @keyframes stretchLine1 {
    0% {
      height: 0;
    }
    50% {
      height: 3%; 
    }
    100% {
      height: 6.2%;
    }
  }
  .line2 {
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchLine2 2s linear forwards; 
    margin-left: 205px;
    margin-top: -40px;
    animation-delay: 4s;
  }
  
  @keyframes stretchLine2 {
    0% {
      width: 0;
    }
    50% {
      width: 3%; 
    }
    100% {
      width: 6.42%;
    }
    /* animation: stretchLine2 2s linear forwards; */
  }
  .line3 {
    width: 0;
    height: 2px;  
    background-color: blue;
    position: relative;
    animation: stretchLine3 2s linear forwards; 
    margin-left: 250px;
    margin-top: -2px;
    animation-delay: 6s;
  }
  
  @keyframes stretchLine3 {
    0% {
      width: 0;
    }
    50% {
      width: 3%;  
    }
    100% {
      width: 6.45%;
    }
  }
  .line4 {
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 68px; 
    margin-top: 838px;
    margin-left: 467px;
    margin-bottom: -300px;
    animation: stretchLine4 2s linear forwards; 
    animation-delay: 8s;
  }
  
  @keyframes stretchLine4 {
    0% {
      height: 0;
    }
    50% {
      height: 3%; 
    }
    100% {
      height: 6.23%;
    }
  }
  .line5 {
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchLine5 2s linear forwards; 
    margin-left: 296px;
    margin-top: 36px;
    animation-delay: 10s;
  }
  
  @keyframes stretchLine5 {
    0% {
      width: 0;
    }
    50% {
      width: 3%; 
    }
    100% {
      width: 6.3%;
    }
  }
 .line6 {
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchLine6 2s linear forwards; 
    margin-left: 340px;
    margin-top: -2px;
    animation-delay: 12s;
  }
  
  @keyframes stretchLine6 {
    0% {
      width: 0;
    }
    50% {
      width: 3%; 
    }
    100% {
      width: 6.5%;
    }
  }
  .line7 {
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 68px; 
    margin-left: 557px;
    margin-bottom: -270px;
    animation: stretchLine7 2s linear forwards; 
    animation-delay: 14s;
  }
  
  @keyframes stretchLine7 {
    0% {
      height: 0;
    }
    50% {
      height: 3%; 
    }
    100% {
      height: 6.42%;
    }
  }
  .line8 {
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchLine8 2s linear forwards; 
    margin-left: 385px;
    margin-top: -40px;
    animation-delay: 16s;
  }
  
  @keyframes stretchLine8 {
    0% {
      width: 0;
    }
    50% {
      width: 3%;  
    }
    100% {
      width: 7.3%;
    }
  }
  
  .line9 {
    width: 2px; 
    height: 0;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 68px; 
    margin-top: 837px;
    margin-left: 607px;
    animation: stretchLine9 2s linear forwards;  
    animation-delay: 18s;
  }
  
  @keyframes stretchLine9 {
    0% {
      height: 0;
    }
    50% {
      height: 3%; 
    }
    100% {
      height: 6.7%;
    }
  }
  .line10 {
    width: 0;
    height: 2px; 
    background-color: blue;
    position: relative;
    animation: stretchLine10 2s linear forwards; 
    margin-left: 435px;
    margin-top: 37px;
    animation-delay: 20s;
  }
  
  @keyframes stretchLine10 {
    0% {
      width: 0;
    }
    50% {
      width: 3%; 
    }
    100% {
      width: 6.9%;
    }
  }

.dascy__idTwo-button{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #F0D0FF;
}
.dascy__idTwo-button button{
    width: 80px;
    min-height: 40px;
    background: var(--color-text2);
    font-family: karla;
    color: #FFF;
    border-radius: 10px;
    background: #AA2EE6;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    margin: 0px 25px 15px 0;
}

/*@media screen and (max-width:1370px ) {
  #LN1{
    margin-bottom: 156px;
    margin-left: 154px;
  }
  #LN4{
    margin-top: 451px;
    margin-left: 310px;
    margin-bottom: -300px;
  }
  #LN7{
    margin-left: 406px;
    margin-bottom: 155px;
  }
  #LN9{
    margin-top: 449px;
    margin-left: 454px;
  }
  .graph2_Line-2{
    margin-left: 155px;
    margin-bottom: 241.5px;
  }
  .graph2_Line-4{
    margin-top: 361.9px;
    margin-left: 363px;
    margin-bottom: -300px;
  }
}*/