.dascy__layers {
  display: flex;
  position:relative;
  justify-content: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 5rem;
  height: 100vh;
  padding: 0 6rem;
}

.dascy__layers-content__first {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.dascy__layers-content-first::before{
  content: "Software Layer";
  position: absolute;
  padding: 10px;
  left: 50px;
  top: 310px;
  border: 2px solid black;
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-family);
        transform: translateY(-50%) rotate(90deg);


}
.dascy__layers-content-first::after{
  content: "Hardware ";
  position: absolute;
  padding: 10px 20px ;
  left: 78px;
  top: 560px;
  /* width: 50; */
  border: 2px solid black;
  font-size: 30px;
  font-weight: 600;
  background-color: white;
  font-family: var(--font-family);
        transform: translateY(-50%) rotate(90deg);


}

.dascy__layers-content-first:hover::after{
  background: linear-gradient(296deg, #EEF0FD 2.49%, #8CA8FF 29.54%, #C987F1 49.92%, #5955B3 99.29%);
  color: white;
border: none;
}

.dascy__layers-content__first-img {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.dascy__layers-content__first-img img:nth-child(1) {
  width: 120px;
  height: 120px;
}
.dascy__layers-content__first-img-text {
  position: absolute;
  top: 38%;
  left: 52px;
  background-color: #f0c808;
  width: 65px;
  height: 30px;
  padding: 2px;
  border-radius: 5px;
  font-family: var(--font-family);
  text-align: center;
  color: black;
  cursor: pointer;
  z-index: 3;
}
.dascy__layers-content__first-sender {
  width: 150%;
  height: 150px;
  position: absolute;
  left: -183px;
  top: 9px;
}

.dascy__layers-content-layer h3 {
  background-color: var(--color-text2);
  padding: 10px;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: var(--font-family);
  border-radius: 10px;
}

.dascy__layers-content-layer h3:hover {
  background-color: var(--color-footer);
  color: black;
  margin: 0.1rem;
}

.dascy__layers-content-layer .dascy__layers-content-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dascy__layers-content-arrowCurved {
  position: absolute;
  left: 28rem;
  top: 38rem;
}
.dascy__layers-content-arrowCurved img {
  width: 270%;
  height: 60px;
}
/* .dascy__layers::before */
.circle {
  background-color: #f0c808;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
  left: 70px;
  top: 155px;
  z-index: 2;
  color: transparent;
  text-align: center;
  font-family: var(--font-family);
  background-color: transparent;
  padding: 3px;
}
.circle.animate {
  animation: pose-two 5s linear forwards;
}

@keyframes pose-two {
  0% {
    transform: translate(0px, 0px);
    background-color: #f0c808;
    color: black;
  }
  30% {
    transform: translate(0px, 450px);
    background-color: #f0c808;
  }
  50% {
    transform: translate(300px, 450px);
    background-color: #f0c808;
  }
  80% {
    transform: translate(550px, 450px);
    background-color: #f0c808;
  }
  90% {
    transform: translate(550px, 250px);
    background-color: #f0c808;
  }
  96% {
    transform: translate(550px, 0px);
    background-color: #f0c808;
    color: black;
  }
  100% {
    transform: translate(550px, 0px);
    background-color: transparent;
    color: transparent;
  }
}
