.dascy__login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dascy__login-container_wrapper {
    background-color: #EEF0FD;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 420px;
    color: var(--color-text);
    border-radius: 10px;
    padding: 30px 40px;
    font-family: var(--font-family);
}

.dascy__login-container_wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: var(--color-text3);
}

.dascy__login-container_wrapper .dascy__login-wrapper_input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.dascy__login-wrapper_input-box input {
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--color-text);
        padding: 20px 45px 20px 20px;
}

.dascy__login-container_wrapper .dascy__login-wrapper_input-box input::placeholder {
    color: var(--color-text);}

.dascy__login-wrapper_input-box .icon {
    position: absolute;
    right: 20px;
    top: 25px;
    transform: translateY(-50%);
    font-size: 16px;
}

.dascy__login-container_wrapper .dascy__login-remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.dascy__login-remember-forgot label input {
    accent-color: var(--color-text);
    margin-right: 4px;

}

.dascy__login-remember-forgot a {
    color: var(--color-text3);
}

.dascy__login-remember-forgot a:hover {
    text-decoration: underline;
}

.dascy__login-container_wrapper button {
    width: 100%;
    height: 45px;
    background-color: var(--color-text2);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #EEF0FD;
    font-weight: 700;
}

.dascy__login-container_wrapper button:hover {
    background-color: #EFEFEF;
    color: var(--color-text3);

}

.register-link {
    font-weight: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a:hover {
    color: #AA2EE6;

}