.dascy__quizz{
background: var(--color-text2);
  width: 100vm;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.dascy__quizz-container{
     display: flex;
  width: 850px;
  height: 550px;
  gap: 50px;
  padding: 80px 40px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.dascy__quizz-container-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.resp_text{
    margin-bottom: 40px;
}
.dascy__quizz-btn{
    padding: 20px;
    border: none;
        width: 200px;
        /* width: 60px; */
        font-family: var(--font-family);
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
}
.dascy__quizz-btn:hover{
    background-color: var(--color-text2);
    color: white;
}
.dascy__quizz-container h2{
     font-size: 1.45rem;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: var(--font-family);
}
.dascy__quizz-container_choises{
    margin-left: 60px;
    font-size: 20px;
    font-family: var(--font-family);

}
.dascy__quizz-container ul{
list-style-type:none;
}
.dascy__quizz-container li{
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
     padding: 20px;
     border-radius: 15px;
}

.dascy__quizz-container li:hover{
    background-color: rgba(0, 0, 0, 0.1);
    /* color: white; */
}

.dascy__quizz-container_answer{
font-family: var(--font-family);
margin-top: 20px;
/* padding: px; */

}
